@media screen and (-ms-view-state: fullscreen-landscape) {
div {
    font-size: 48pt;
}

button {
    font-size: 60pt;
}

#container {
    padding: 250px 50px 50px 50px;
  display: -ms-grid;

-ms-grid-columns: 4fr 6fr 4fr 1fr 1fr 3fr 3fr;
-ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}

#start {
    margin: 30px;
  -ms-grid-column: 1;
  -ms-grid-row-span: 10;
  -ms-grid-row: 1;
}

#speedLabel {
    font-size: 42pt;
    -ms-grid-column: 6;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
    -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
    background-color: aqua;
    padding-left: 20px;
}

#targetDistanceLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#totalDistanceLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#elapsedTimeLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#targetTimeLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#targetSpeedLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#targetSpeed {
    -ms-grid-column: 3;
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#distance {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-align: center;
  -ms-grid-row-span: 2;
}

#totalDistance {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
  -ms-grid-row-align: center;
  -ms-grid-row-span: 2;
}

#elapsedTime {
  -ms-grid-column: 3;
  -ms-grid-row: 5;
  -ms-grid-row-align: center;
  -ms-grid-row-span: 2;
}

#targetTime {
  -ms-grid-column: 3;
  -ms-grid-row: 7;
  -ms-grid-row-align: center;
  -ms-grid-row-span: 2;
}
#increaseTargetTime {
  -ms-grid-column: 4;
  -ms-grid-row: 7;
    font-size: 18pt;
    background-color: lightblue;
}
#decreaseTargetTime {
  -ms-grid-column: 4;
  -ms-grid-row: 8;
    font-size: 18pt;
    background-color: lightgreen;
}

#speed {
  -ms-grid-column: 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  -ms-grid-row-align: center;
  padding-left: 20px;
}

#increaseSpeed {
  -ms-grid-column: 7;
  -ms-grid-row: 3;    
  -ms-grid-row-span: 2;
}
#decreaseSpeed {
  -ms-grid-column: 7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
}

#increaseTargetDistance {
  -ms-grid-column: 4;
  -ms-grid-row: 1;
    font-size: 18pt;
    background-color: yellow;
}
#decreaseTargetDistance {
  -ms-grid-column: 4;
  -ms-grid-row: 2;
    font-size: 18pt;
    background-color: yellowgreen;
}
}

@media screen and (-ms-view-state: filled) {
    div {
    font-size: 36pt;
}

button {
    font-size: 40pt;
}

#container {
    padding: 250px 50px 50px 50px;
  display: -ms-grid;
  -ms-grid-columns: 2fr 3fr 2fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
}

#start {
    margin: 30px;
  -ms-grid-column: 1;
  -ms-grid-row-span: 5;
  -ms-grid-row: 1;
}

#speedLabel {
    font-size: 36pt;
    -ms-grid-column: 4;
    -ms-grid-row: 1;
    -ms-grid-column-span: 2;
}
#targetDistanceLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}

#totalDistanceLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
}

#elapsedTimeLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
}

#targetTimeLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 4;
}

#targetSpeedLabel {
    -ms-grid-column: 2;
    -ms-grid-row: 5;
}

#targetSpeed {
    -ms-grid-column: 3;
    -ms-grid-row: 5;
}

#distance {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-row-align: center;
}

#totalDistance {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-align: center;
}

#elapsedTime {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
  -ms-grid-row-align: center;
}

#targetTime {
  -ms-grid-column: 3;
  -ms-grid-row: 4;
  -ms-grid-row-align: center;
}

#speed {
  -ms-grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#increaseSpeed {
  -ms-grid-column: 5;
  -ms-grid-row: 2;    
}
#decreaseSpeed {
  -ms-grid-column: 5;
  -ms-grid-row: 3;
}
}

@media screen and (-ms-view-state: snapped) {
div {
    font-size: 18pt;
      -ms-grid-row-align: center;
}

button {
    font-size: 24pt;
}

#container {
    padding: 25px 5px 5px 5px;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#start {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  -ms-grid-row: 1;
}

#speedLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
}
#targetDistanceLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
}

#totalDistanceLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 2;
}

#elapsedTimeLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    -ms-grid-column-span: 2;
}

#targetTimeLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
    -ms-grid-column-span: 2;
}

#targetSpeedLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 8;
    -ms-grid-column-span: 2;
}

#targetSpeed {
    -ms-grid-column: 3;
    -ms-grid-row: 8;
    -ms-grid-column-span: 2;
}

#distance {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-align: center;
}

#totalDistance {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
  -ms-grid-row-align: center;
}

#elapsedTime {
  -ms-grid-column: 3;
  -ms-grid-row: 4;
  -ms-grid-row-align: center;
}

#targetTime {
  -ms-grid-column: 3;
  -ms-grid-row: 5;
  -ms-grid-row-align: center;
}

#speed {
  -ms-grid-column: 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#increaseSpeed {
  -ms-grid-column: 3;
  -ms-grid-row: 6;    
}
#decreaseSpeed {
  -ms-grid-column: 3;
  -ms-grid-row: 7;
}
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    div {
    font-size: 36pt;
      -ms-grid-row-align: center;
}

button {
    font-size: 48pt;
}

#container {
    padding: 25px 5px 5px 5px;
  display: -ms-grid;
  -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#start {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  -ms-grid-row: 1;
}

#speedLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
    -ms-grid-row-span: 2;
}
#targetDistanceLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
}

#totalDistanceLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
    -ms-grid-column-span: 2;
}

#elapsedTimeLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 4;
    -ms-grid-column-span: 2;
}

#targetTimeLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
    -ms-grid-column-span: 2;
}

#targetSpeedLabel {
    -ms-grid-column: 1;
    -ms-grid-row: 8;
    -ms-grid-column-span: 2;
}

#targetSpeed {
    -ms-grid-column: 3;
    -ms-grid-row: 8;
    -ms-grid-column-span: 2;
}

#distance {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-align: center;
}

#totalDistance {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
  -ms-grid-row-align: center;
}

#elapsedTime {
  -ms-grid-column: 3;
  -ms-grid-row: 4;
  -ms-grid-row-align: center;
}

#targetTime {
  -ms-grid-column: 3;
  -ms-grid-row: 5;
  -ms-grid-row-align: center;
}

#speed {
  -ms-grid-column: 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-row-align: center;
}

#increaseSpeed {
  -ms-grid-column: 3;
  -ms-grid-row: 6;    
}
#decreaseSpeed {
  -ms-grid-column: 3;
  -ms-grid-row: 7;
}
}

/* custom stuff for settings */
.SettingsPane {

}

.SettingsContent {
    font-size: 12pt;
    margin: 10px 10px 10px 10px;
}

.SettingsTitle {
    padding-left: 25px;
    font-size: 36pt;
}